body{
    background-color:rgb(240, 231, 231);
}
.root {
    width: 1196px;
    margin: 0 auto;
   background: #15202b;
}

.info {
    padding: top 26px;
    display: flex;
}
.userphoto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.username{
    font-size: 22px;
}
.status {
    width: 32px;
    height: 32px;
}